/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header{
    background-color: #0d1b2a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo{
    font-size: 28px;
    font-weight: bold;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover{
    color: #00b4d8;
}

/* Banner */
.banner{
    height: 500px;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url('https://images.unsplash.com/photo-1518770660439-4636190af475');
    
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    padding: 20px;
}

.banner-texto h1{
    font-size: 55px;
    margin-bottom: 20px;
}

.banner-texto p{
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 700px;
}

.banner button{
    padding: 15px 30px;
    border: none;
    background-color: #00b4d8;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.banner button:hover{
    background-color: #0096c7;
}

/* Sobre */
.sobre{
    padding: 60px 40px;
    text-align: center;
}

.sobre h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.sobre p{
    max-width: 800px;
    margin: 10px auto;
    font-size: 18px;
}

/* Cards */
.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px);
}

.card h3{
    margin-bottom: 15px;
    color: #0077b6;
}

/* Tabela */
.tabela-section{
    padding: 60px 30px;
    text-align: center;
}

.tabela-section h2{
    margin-bottom: 30px;
    font-size: 35px;
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

th, td{
    border: 1px solid #ccc;
    padding: 15px;
}

th{
    background-color: #0077b6;
    color: white;
}

/* Contato */
.contato{
    padding: 60px 20px;
    text-align: center;
}

.contato h2{
    margin-bottom: 30px;
    font-size: 35px;
}

form{
    max-width: 600px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
textarea{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

textarea{
    height: 150px;
}

form button{
    padding: 15px;
    border: none;
    background-color: #0077b6;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover{
    background-color: #023e8a;
}

/* Rodapé */
footer{
    background-color: #0d1b2a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

/* Responsividade */
@media(max-width: 768px){

    header{
        flex-direction: column;
        gap: 20px;
    }

    .banner-texto h1{
        font-size: 40px;
    }

    .cards{
        flex-direction: column;
        align-items: center;
    }

    table{
        width: 100%;
    }

}
